@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Meera+Inimai&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

:root {
  --white: #fff;
  --dark-blue: #1e2129;
  --light-blue: #00acc1;
  --light-blue-hover: #008593;
  --dull-blue: #13151a;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-blue-hover);
}

/* Nav-bar */
#nav-bar {
  background-color: var(--dark-blue);
  position: fixed;
  z-index: 1000;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
}

.nav-bar__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-bar__list--items {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--white);
}

.nav-bar__list--items:hover {
  cursor: pointer;
  color: var(--light-blue);
}

/* Total Movies */
.total-movies {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
}

/* Hero */
#hero {
  background-color: var(--dark-blue);
  padding: 100px 50px;
  height: 100%;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* Home-page */
.card__section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--dull-blue);
  max-width: 325px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 20px;
}

.poster {
  width: 100%;
  height: auto;
}

.card__header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card__heading {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.heart {
  color: var(--light-blue);
  transition: all 0.2s ease-in-out;
}

.heart:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--white);
}

.card__total-likes {
  color: var(--light-blue);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.card__footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.card-btn {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
}

.card-btn:hover {
  cursor: pointer;
  background-color: var(--light-blue-hover);
}

/* Footer */
#foot-note {
  background-color: var(--dull-blue);
  padding: 20px 30px;
  width: 100%;
}

.foot-note {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.foot-note__dpt {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: var(--white);
}

/* Comment */
#comment-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-blue);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  z-index: 1000;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
}

.comment-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.comment__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.comment__poster {
  width: 100%;
  background-color: var(--white);
}

.comment__movie-tile {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--white);
}

.comment__cross {
  color: var(--white);
  align-self: flex-end;
  width: 12px;
}

.comment__cross:hover {
  cursor: pointer;
  color: var(--light-blue);
}

/* Recent Comment */
.recent-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-comment__heading,
.add-comment__heading {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--light-blue);
}

/* Add comment */
.add-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.add-comment__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.btn-add-comment {
  align-self: flex-start;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  margin-bottom: 10px;
}

.btn-add-comment:hover {
  cursor: pointer;
  background-color: var(--light-blue-hover);
}

#name,
#comment-holder,
#start-date,
#end-date {
  padding: 10px 7px;
  outline: none;
  border: none;
  width: 100%;
}

textarea::placeholder {
  font-family: sans-serif;
}

#comment-holder {
  height: 100px;
}

/* Comment Box */
.recent-comment__history {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.comment {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

/* Utilise */
.flex {
  display: flex;
}

.block {
  display: block;
}

.none {
  display: none;
}

/* Contact Form */
#contact {
  background-color: var(--dark-blue);
  height: calc(100vh - 121px);
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  color: var(--white);
  background-color: transparent;
}

.contact__heading {
  color: var(--light-blue);
  font-size: 35px;
}

/* About Form */
#about {
  background-color: var(--dark-blue);
  height: calc(100vh - 121px);
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  color: var(--white);
  background-color: transparent;
}

.about__heading {
  color: var(--light-blue);
  font-size: 35px;
}

.about__headline {
  max-width: 750px;
}
