.reservationPopupContainer {
  flex-direction: column;
  margin-top: 30px;
  color: black;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

}

.movieImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.movieImageContainer img {
  background-color: rgb(81, 143, 225);
  margin: auto;
  margin-block-end: 50px;
  height: 350px;
  width: 65%;

}

.closeBtn {
  margin-top: 0;
  font-size:45px;
  background: none;
  margin-top: 0;
  padding-top: 0;
  margin-left: 15px;
  border: none;
}

.movieTitle {
  text-align: center;
  margin: 15px;

}

.reservationDescription {
  display: flex;
  justify-content: center;
  gap: 55px;
  text-align: center;
  margin-bottom: 15px;
}

.reservationListContainer {
  text-align: center;
  margin-top: 20px;
}

.reservationListContainer h2 {
  margin-bottom: 10px;
}

.reservationFormContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 100px;
  margin-top: 20px;
  width: 60%;
}
  
.reservationFormContainer  h2 {
   text-align: center;
   margin-bottom: 10px;
  
}

 .reservationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }
  
  .reservationForm input {
  width: 100%;
  height: 40px;
  }

  .reservationForm input:last-child {
    width: 60%;
    height: 40px;
    }